body {
  margin: 0;
}

header {
  background-color: #79756f;
  padding: 0em 1em 1em 1em;
  border: 2px solid #79756f;
}

img {
  width: 100%;
}

html{
  background-color: #dbd6cf;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

nav {
  text-align: center
}

nav ul {
  line-height: 1.5;
  padding: 0.5em 0em 2em 0em;
  list-style-type: none;
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #703838;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

nav li {
  display: inline;
}

h1 {
  color: white;
  font-size: 2rem;
  font-family: 'Bevan', cursive;
  text-align: center;

}

h2 {
  color:#79756f;
  font-size: 1.5rem;
  font-family: 'Bevan', cursive;
  padding: 0 0 0 0.75rem;
}

h3 {
  color:#79756f;
  font-size: 1rem;
  font-family: 'Bevan', cursive;
  padding: 0 0 0 0.75rem;
}
a {
  color: #703838;
  padding: 0;
}

a:hover {
  color: #ff3333;
}

blockquote {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1;
}

blockquote div {
  color:#79756f;
  font-size: 0.75rem;
  text-align: right;
}

p {
  color:#222222;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  padding: 0 0 0 1rem;
}

ol {
  list-style-type: lower-roman;
  line-height: 1.5;
}
blockquote span {
  font-size: 2rem;
  color:#79756f;
}

dt {
  font-weight: bold;
  padding: 0 0 0 0.75rem;
}
footer ol {
  list-style-type: circle;
  color: #703838;
}

figcaption {
  font-size: 0.8rem;
  text-align: center;
}

.bold {
  color:#79756f;
}

footer {
  display: block;
  padding: 0.5em 25.75em 1em 0.5em;
  background-color: #79756f;
  color: white;
  text-decoration: none;
}

.sources {
  color: #dbd6cf;
  text-align: left;
}

figure {
  border: 2px solid #bcb9b2;
  border-radius: 5px;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

dd {
  margin: 0;
  padding: 0.25rem 0.5rem 2rem 0.75rem;
}
